@model BodyViewModel

@if (Model.Results != null)
{
<div>
    @if (Model.Results.Courses.Count() > 0)
    {
        <p class="govuk-body">Showing all <span class="fac-result-count">@String.Format("{0:n0}", Model.Results.ResultProperties.TotalResultCount)</span> courses</p>
    }
</div>
}