
<form asp-action="searchcourse" method="post">
<section id="fac-search-banner" class="primary-hero">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Find a course</h1>
                <p class="govuk-body-lead">Use our course search to look for different types of learning opportunities.</p>
                <div class="course-search-item-wrapper">
                    <input type="search" id="searchTerm" name="searchTerm" title="Search" class="course-gov-search-item course-gov-search-input" placeholder="Enter a keyword">
                    <div class="course-gov-search-item course-gov-search-submit-wrapper">
                        <button data-module="govuk-button" type="submit" class="course-gov-search-submit">Search</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</form>
