
    <div class="govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">
            <a class="govuk-link" href="gds-course-details">Certificate in IT User Skills (ITQ)</a>
        </h2>
        <p>This course is for you if you need to be able to use a computer to improve your opportunities for work, further study or training. It’s suitable for young learners as well as adults who may already be employed or seeking...</p>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">

                    <li>
                        <span class="govuk-secondary-colour">Start date:</span> Flexible
                    </li>
                    <li>
                        <span class="govuk-secondary-colour">Cost:</span> £295
                    </li>
                    <li>
                        <span class="govuk-secondary-colour">Provider:</span> St Helens College
                    </li>

                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        <span class="govuk-secondary-colour">Course type:</span> Online
                    </li>
                    <li>
                        <span class="govuk-secondary-colour">Duration:</span> 6 months
                    </li>

                </ul>
            </div>

        </div>
    </div>