@model BodyViewModel

@if (Model.Content != null)
{
        @Html.Partial("_counter")

        <div class="govuk-form-group">
            <label for="order" class="result-region-header__sort-label govuk-label">Sort by</label>
            <select class="govuk-select" name="order" id="order">
                <option value="recent" selected="">Recently added</option>
                <option value="most-viewed">Distance</option>
                <option value="updated-newest">Relevance</option>
                <option value="updated-oldest">Start date</option>
            </select>
        </div>
        <hr class="govuk-section-break govuk-section-break--visible">
        @Html.Partial("_results")
}
