@model Course
<span class="govuk-secondary-colour">Cost: £0.00</span>
@if (Model.Cost == null)
{
    <span>Contact course provider</span>

    <details data-module="govuk-details" class="course-cost-desc">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                View cost description
            </span>
        </summary>
        <div class="govuk-details__text">@Html.Raw(Model.CostDescription)</div>
    </details>

}