<hr />
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Course costs and funding</h2>
        <p class="govuk-body">
            This service offers all courses funded by the government. You may be able to access some courses for free.
        </p>
        <a class="govuk-link" href="/funding">Learn more about funding</a>
    </div>
</div>