@using DFC.App.FindACourse.Controllers
@model BodyViewModel

    <div class="ncs-hero page-hero">
    
        <div class="d-only">
            <img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-header.jpg" alt="">
        </div>

        
        <div class="m-only">
            <img src="https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-mobile-header.jpg" alt="">
        </div>

        <div class="content govuk-width-container">
            <div class="govuk-grid-row">
                
                
                <div class="govuk-grid-column-two-thirds">

                    <div class="govuk-grid-column-full">
                        @if (Model.FreeCourseSearch)
                        {
                            <h1 class="govuk-!-margin-bottom-2 govuk-heading-xl">Find free courses for jobs</h1>
                            <p class="govuk-body-l">Search for free courses to help you get skills employers need.</p>
                            <h1 class="govuk-heading-xl">
                                <div class="block ncs">
                                    <span>Find</span>
                                    <span>free</span>
                                    <span>courses</span>
                                    <span>for</span>
                                    <span>jobs</span>
                                </div>
                            </h1>
                            
                            <div class="sub-heading">
                                <p class="block">
                                    <span>Search</span>
                                    <span>for</span>
                                    <span>free</span>
                                    <span>courses</span>                      
                                    <span>to</span>                        
                                    <span>help</span>                        
                                    <span>you</span>
                                    <span>get</span>
                                    <span>skills</span>
                                    <span>employers</span>
                                    <span>need.</span>
                                </p>
                            </div>
                        }
                        else
                        {
                            <h1 class="govuk-heading-xl">
                                <div class="block ncs">
                                    <span>Find</span>
                                    <span>a course</span>
                                </div>
                            </h1>
                            
                            <div class="sub-heading">
                                <p class="block">
                                    <span>Search</span>
                                    <span>for</span>
                                    <span>online</span>
                                    <span>and</span>
                                    <span>classroom</span>
                                    <span>courses</span>
                                    <span>near</span>                        
                                    <span>you,</span>                        
                                    <span>to</span>                        
                                    <span>help</span>                        
                                    <span>you</span>
                                    <span>get</span>
                                    <span>a</span>
                                    <span>job</span>
                                    <span>or</span>
                                    <span>develop</span>
                                    <span>your</span>
                                    <span>skills.</span>
                                </p>
                            </div>
                        }
                    </div>

                </div>
           </div>
        </div>
     
    </div>
    
    
<form action="@(Model.FreeCourseSearch ? "/find-a-course/searchFreeCourse" : "/find-a-course/searchcourse")" method="get" id="fac-search-course-form" class="find-a-course-page">   
    <div class="search-wrapper"> 
      <div class="govuk-width-container"> 
        <div class="govuk-grid-row"> 

          <div class="govuk-grid-column-one-third">                    
            <div class="govuk-form-group">
              
              <label class="ncs-label govuk-label" for="location-input">Town, city or postcode</label>
              
              <div class="input-wrapper">
                <input id="location-input" name="townOrPostcode" type="search" class="govuk-input govuk-!-width-full ui-autocomplete-input" aria-label="Enter Town, city or postcode" title="Enter a keyword" autocomplete="off" />
              </div>
              
            
              <span class="fac-visually-hidden" aria-hidden="true">
                <input id="coordinates" name="sideBarCoordinates" type="hidden" value="" />
                <input id="suggestedLocation-input" name="sideBarSuggestedLocation" type="hidden" value="" />
              </span>

            </div>
          </div>

          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
              
              <label class="ncs-label govuk-label" for="searchTerm">Course or keyword</label>
              <div class="input-wrapper">
                <input id="search-input" name="searchTerm" type="search" class="govuk-input search-input govuk-!-width-full" aria-label="Enter a keyword" title="Enter a keyword" autocomplete="off" />
          
                <div class="input-search-item input-submit-wrapper"> 
                  <button id="search-button" class="input-search-submit" type="submit" data-module="govuk-button">Search</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </form>