@using Microsoft.AspNetCore.Mvc.Routing

@{
    var cdnLocation = "https://localhost/nationalcareers_toolkit";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="govuk-template govuk-!-margin-bottom-5">
            <div class="card-content govuk-!-padding-top-3 govuk-!-padding-right-3 govuk-!-padding-left-3">
                <div class="card-hero">
                    <img src="~/nationalcareers_toolkit/images/annika-gordon-cZISY8ai2iA-unsplash.jpg" alt="Larry the cat" data-source="CDN" height="200" width="100%">
                </div>
                <div class="card-copy govuk-!-padding-top-5">
                    <h3 class="govuk-heading-m">Courses to get a job</h3>
                    <p>Find courses leading to jobs in demand.</p>
                </div>
                <div class="card-action">
                    <a class="govuk-link govuk-button govuk-!-width-full" href="/find-a-course/find-a-course-to-get-a-job">Find a course for a job</a>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-template govuk-!-margin-bottom-5">
            <div class="card-content govuk-!-padding-top-3 govuk-!-padding-right-3 govuk-!-padding-left-3">
                <div class="card-hero">
                    <img src="~/nationalcareers_toolkit/images/skills-toolkit-lifestyle.jpg" alt="Larry the cat" data-source="CDN" height="200" width="100%">
                </div>
                <div class="card-copy govuk-!-padding-top-5">
                    <h3 class="govuk-heading-m">Develop skills online</h3>
                    <p>Learn news skills for free at your own pace.</p>
                </div>
                <div class="card-action">
                    <a class="govuk-link govuk-button govuk-!-width-full" href="https://nationalcareers.service.gov.uk/find-a-course/the-skills-toolkit">Go to The Skills Toolkit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-template govuk-!-margin-bottom-5">
            <div class="card-content govuk-!-padding-top-3 govuk-!-padding-right-3 govuk-!-padding-left-3">
                <div class="card-hero">
                    <img src="@cdnLocation/images/christina-wocintechchat-com-FPQlXQtjkqU-unsplash.jpg" alt="Larry the cat" data-source="CDN" height="200" width="100%">
                </div>
                <div class="card-copy govuk-!-padding-top-5">
                    <h3 class="govuk-heading-m">Help with choices</h3>
                    <p>Options and advice if you're not sure of the right course for one,</p>
                </div>
                <div class="card-action">
                    <a class="govuk-link govuk-button govuk-!-width-full" href="/find-a-course/find-a-course-help">Get help with choices</a>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_course_cost_funding" />