@model BodyViewModel

@if (Model.Results != null)
{
    <div class="no-count-block">
        @if (Model.Results.Courses.Count() > 0)
        {
            <div id="orderby-block" class="fac-search-sort">
                <div id="orderBy" class="govuk-form-group">
                    <label class="govuk-label" aria-label="SelectedOrderValue" for="orderByInput" id="orderby-label">Sort by</label>
                    <select asp-for="SideBar.SelectedOrderByValue" aria-label="SelectedOrderByValue" asp-items="Model.SideBar.OrderByOptions" class="govuk-select" name="SideBar.SelectedOrderByValue" id="orderBy-Input"></select>
                </div>
            </div>
        }
    </div>
}