@model BodyViewModel

@if (Model.Results != null)
{
    @if (Model.Results.Courses.Count() > 0)
    {
        int showRecordsFrom;
        int showRecordsTo;

        if (Model.RequestPage == 1)
        {
            showRecordsFrom = 1;
            showRecordsTo = Model.PageSize;
        }
        else
        {
            showRecordsFrom = ((Model.Results.ResultProperties.Page - 1) * Model.PageSize) + 1;
            showRecordsTo = Model.Results.ResultProperties.TotalPages == Model.RequestPage ? Model.Results.ResultProperties.TotalResultCount : Model.PageSize * (Model.RequestPage);
        }

        <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Results for: @Model.CurrentSearchTerm</h2>
        <div class="govuk-heading-s fac-show-courses-count">Showing @showRecordsFrom to @showRecordsTo of  @Model.Results.ResultProperties.TotalResultCount courses</div>
       
        <div class="fac-search-sort">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sort">
                    Sort by
                </label>
                <select asp-for="SideBar.SelectedOrderByValue" aria-label="SelectedOrderByValue" asp-items="Model.SideBar.OrderByOptions" class="govuk-select" name="SideBar.SelectedOrderByValue" id="orderBy-Input"></select>
            </div>
        </div>
    }
}