@{
    Layout = null;
}
@using System.Text.RegularExpressions;
@model Course
@{
    var resultString = Regex.Match(Model.Duration, @"\d+").Value;
    int.TryParse(resultString, out int durationInt);
}
<div class="course-item govuk-!-margin-top-6">
    <partial name="_result_heading" model="Model" />
    <p class="course-description govuk-body-s">@Html.Raw(Model.Description)</p>
    <div class="govuk-grid-row govuk-!-padding-bottom-3">
        <div class="govuk-grid-column-one-half">
            <ul class="course-details govuk-list">
                <li>
                    <partial name="_StartDate" model="Model" />
                </li>
                <li>
                    <partial name="_Cost" model="Model" />
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="course-details govuk-list">
                <li>
                    <span class="learning-format govuk-secondary-colour">Course type:</span> @Html.Raw(Model.AttendanceMode)
                </li>
                <li>
                    <span class="learning-format govuk-secondary-colour">Duration:</span>

                    @if (durationInt >= 1)
                    {
                        @Html.Raw(Model.Duration)
                    }

                </li>
            </ul>
        </div>
    </div>
</div>