@model BodyViewModel

<div class="govuk-grid-column-one-third">
    <partial name="sideBarLeft" model="Model" />
</div>

<div class="govuk-grid-column-two-thirds">
    <partial name="_resultsTop" model="Model" />

    <hr class="govuk-section-break govuk-section-break--visible">

    <partial name="_results" model="Model" />
</div>