@model BodyViewModel

<button class="govuk-button filters-button" id="show-filters-button">Show filters</button>
<div class="govuk-grid-column-one-third">
    <partial name="sideBarLeft" model="Model" />
</div>

<div class="govuk-grid-column-two-thirds">
    <partial name="_resultsTop" model="Model" />
    <partial name="_results" model="Model" />
</div>