@{
    Layout = null;
}
@model FiltersListViewModel

@if (Model?.LstChkFilter?.Count() > 0)
{   
    <div id="@Model.FilterText" class="govuk-checkboxes">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-label govuk-!-font-weight-bold" id="sectors-label">@Model.FilterTitle</legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
                <check-box-list name="SideBar.Sectors.SelectedIds" aria-label="Sectors" items="Model.LstChkFilter" template="GDS"></check-box-list>
            </div>
        </fieldset>
    </div>
}