@model BodyViewModel

@if (Model.Content != null)
{
    <form asp-action="filterresults" method="post">
        @Html.HiddenFor(m => m.CurrentSearchTerm)
        <div class="govuk-width-container">
            <partial name="_counter" model="Model" />

            <div id="distanceForm" class="govuk-form-group">
                <div id="distance">
                    <label class="govuk-label govuk-!-font-weight-bold">Order By</label>
                    <select asp-for="SelectedOrderByValue" asp-items="Model.OrderByOptions" class="form-control" name="SelectedOrderByValue"></select>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--visible">

            <partial name="sideBarLeft" model="Model.SideBar" />
            <partial name="_results" model="Model" />
        </div>
    </form>
}
