@using DFC.App.FindACourse.Controllers
@model BodyViewModel

<section aria-label="Search">
    <partial name="_searchbanner.cshtml" model="Model" />
</section>
<div class="govuk-width-container margin-fix">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body govuk-!-padding-top-0" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper">
                @if (Model.Results != null)
                {
                    <form action="/find-a-course/filterresults" method="get" class="find-a-course-page" id="fac-filter-form">
                        @Html.HiddenFor(m => m.CurrentSearchTerm)
                        @Html.HiddenFor(m => m.RequestPage)
                        @Html.HiddenFor(m => m.FreeCourseSearch, new {id="facFreeCourseSearch"})
                        <input id="facCampaignCode" name="CourseSearchFilters.FreeSearchCampaignCode" type="hidden" value="@(Model.FreeCourseSearch ? CourseController.FreeSearchCampaignCode : String.Empty)">
                        
                            <div class="govuk-grid-row">
                                <partial name="_search_result" model="Model" />
                            </div>
                    </form>
                }
            </div>
        </div>
    </main>
</div>