@model BodyViewModel

@if (Model.Results != null)
{
    <button class="govuk-button filters-button">Show filters</button>
    <form action="/find-a-course/course/filterresults" method="get">
        @Html.HiddenFor(m => m.CurrentSearchTerm)
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
                <partial name="sideBarLeft" model="Model.SideBar" />
            </div>

            <div class="govuk-grid-column-two-thirds">
                <partial name="_counter" model="Model" />

                <div id="orderByForm" class="govuk-form-group">
                    <div id="orderBy">
                        <label class="result-region-header__sort-label govuk-label" for="orderByInput">Sort By</label>
                        <select asp-for="SelectedOrderByValue" asp-items="Model.OrderByOptions" class="govuk-select" name="SelectedOrderByValue" id="orderByInput"></select>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">

                <partial name="_results" model="Model" />
            </div>
        </div>
    </form>
}
