@model BodyViewModel


@{
    var brandingAssetsCdn = Model.CourseSearchSettings.BrandingAssetsCdn;
    var cdnLocation = brandingAssetsCdn + "/nationalcareers_toolkit";
}

<section aria-label="Search">
    <partial name="_herobanner.cshtml" model="Model" />
</section>

<div class="govuk-width-container margin-fix">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body govuk-!-padding-top-0" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="fac-main-wrapper">
                <div id="home-block" style="display:block">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h2 class="govuk-heading-l">
                                Help with choices
                            </h2>
                            <p class="govuk-body">Get advice and support and explore your options if you're not sure what course is right for you.</p>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                                <div class="fac-feature-box__content">
                                    <img src="@cdnLocation/images/skills-assessment.jpg" alt="">
                                    <h2 class="govuk-heading-m">
                                        Skills assessment
                                    </h2>
                                    <p class="govuk-body">
                                        Learn about your skills and match them to a career for you.
                                    </p>
                                    <a href="/skills-assessment" class="govuk-button ncs-button__primary govuk-!-margin-bottom-1">Assess your skills</a>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                                <div class="fac-feature-box__content">
                                    <img src="@cdnLocation/images/explore careers.jpg" alt="">
                                    <h2 class="govuk-heading-m">
                                        Explore careers
                                    </h2>
                                    <p class="govuk-body">
                                        Find out what a job involves and if it's right for you.
                                    </p>
                                    <a href="/explore-careers" class="govuk-button ncs-button__primary govuk-!-margin-bottom-1">Search our job profiles</a>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                                <div class="fac-feature-box__content">
                                    <img src="@cdnLocation/images/careers-advice.jpg" alt="">
                                    <h2 class="govuk-heading-m">
                                        Careers advice
                                    </h2>
                                    <p class="govuk-body">
                                        Find advice on your career and education choices.
                                    </p>
                                    <a href="/careers-advice" class="govuk-button ncs-button__primary govuk-!-margin-bottom-1">Find careers advice</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-grid-row govuk-!-margin-top-4">
                        <div class="govuk-grid-column-one-third">
                            <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                                <div class="fac-feature-box__content">
                                    <img src="@cdnLocation/images/young-people.jpg" alt="">
                                    <h2 class="govuk-heading-m">
                                        Education and training choices for young people
                                    </h2>
                                    <p class="govuk-body">
                                        Explore your education and training choices if you're aged 14 to 19.
                                    </p>
                                    <a href="https://skillsforlife.campaign.gov.uk/" class="govuk-button ncs-button__primary govuk-!-margin-bottom-1">Visit Skills for Life</a>
                                </div>
                            </div>
                        </div>

                        <div class="govuk-grid-column-one-third">
                            <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                                <div class="fac-feature-box__content">
                                    <img src="@cdnLocation/images/adult-training-choices.jpg" alt="">
                                    <h2 class="govuk-heading-m">
                                        Education and training choices for adults
                                    </h2>
                                    <p class="govuk-body">
                                        Find training and advice to gain the skills you need for the job you want.
                                    </p>
                                    <a href="https://skillsforlife.campaign.gov.uk/" class="govuk-button ncs-button__primary govuk-!-margin-bottom-1">Visit Skills for Life</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>