@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


@{
    var brandingAssetsCdn = @Configuration.GetSection("Configuration")["BrandingAssetsCdn"];
    var cdnLocation = brandingAssetsCdn + "/nationalcareers_toolkit";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">
            Help with choices
        </h2>
        <p class="govuk-body">Get advice and support and explore your options if you’re not sure what course is right for you.</p>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
            <div class="fac-feature-box__content">
                <img src="@cdnLocation/images/skills-assessment.jpg" alt="paper and pens - the skills toolkit">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                    Skills assessment
                </h2>
                <p class="govuk-body">
                    Learn about your skills and match them to a career for you.
                </p>
                <a href="https://nationalcareers.service.gov.uk/skills-assessment" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Assess your skills</a>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
            <div class="fac-feature-box__content">
                <img src="@cdnLocation/images/explore careers.jpg" alt="paper and pens - the skills toolkit">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                    Explore careers
                </h2>
                <p class="govuk-body">
                    Discover over 800 careers and learn the steps to get into a job.
                </p>
                <a href="https://nationalcareers.service.gov.uk/explore-careers" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Search job profiles</a>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
            <div class="fac-feature-box__content">
                <img src="@cdnLocation/images/careers-advice.jpg" alt="paper and pens - the skills toolkit">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                    Careers advice
                </h2>
                <p class="govuk-body">
                    Find advice on your career and education choices.
                </p>
                <a href="https://nationalcareers.service.gov.uk/careers-advice" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Find careers advice</a>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-one-half">
        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
            <div class="fac-feature-box__content">
                <img src="@cdnLocation/images/skills-for-life.jpg" alt="paper and pens - the skills toolkit">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                    Adult training choices
                </h2>
                <p class="govuk-body">
                    Find training and advice to gain the skills you need for the job you want.
                </p>
                <a href="https://skillsforlife.campaign.gov.uk/" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Visit Skills for Life</a>
            </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-half">
        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
            <div class="fac-feature-box__content">
                <img src="@cdnLocation/images/get-the-jump.jpg" alt="paper and pens - the skills toolkit">
                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                    Young people
                </h2>
                <p class="govuk-body">
                    Find out about your work and study choices if you're aged 14 to 19.
                </p>
                <a href="https://nationalcareers.service.gov.uk/explore-your-education-and-training-choices" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Visit Get the Jump</a>
            </div>
        </div>
    </div>
</div>
