@model BodyViewModel
@{
    var brandingAssetsCdn = Model.CourseSearchSettings.BrandingAssetsCdn;
    var cdnLocation = brandingAssetsCdn + "/nationalcareers_toolkit";
}

<section aria-label="Search">
    <partial name="_searchbanner.cshtml" model="Model" />
</section>

<div class="govuk-width-container margin-fix">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body govuk-!-padding-top-0" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper">
                <div id="home-block" class="govuk-grid-row" style="display:block">
                    <div class="govuk-grid-column-full"></div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/courses-to-get-a-job.jpg" alt="courses to get a job">
                                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                                    Courses to get a job
                                </h2>
                                <p class="govuk-body">
                                    Find a course to get skills employers need.
                                </p>
                                <a href="/find-a-course/find-courses-to-get-a-job" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Search for courses</a>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/skills-toolkit-lifestyle.jpg" alt="improve your skills">
                                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                                    Improve your skills
                                </h2>
                                <p class="govuk-body">
                                    Learn new skills for free at your own pace.
                                </p>
                                <a href="https://nationalcareers.service.gov.uk/find-a-course/the-skills-toolkit" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Go to the Skills Toolkit</a>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/help-with-choices-fac-homepage.jpg" alt="help with choices">
                                <h2 class="govuk-heading-m govuk-!-margin-top-3">
                                    Help with choices
                                </h2>
                                <p class="govuk-body">
                                    Find out what a job involves and if it’s right for you.
                                </p>
                                <a href="/find-a-course/help-with-choices" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Search our job profiles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
