@model BodyViewModel


@{
    var brandingAssetsCdn = Model.CourseSearchSettings.BrandingAssetsCdn;
    var cdnLocation = brandingAssetsCdn+"/nationalcareers_toolkit";
}

<div class="govuk-grid-column-full"></div>
<div class="govuk-grid-column-one-third">
    <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
        <div class="fac-feature-box__content">
            <img src="@cdnLocation/images/courses-to-get-a-job.jpg" alt="courses to get a job">
            <h2 class="govuk-heading-m govuk-!-margin-top-3">
                Courses to get a job
            </h2>
            <p class="govuk-body">
                Find a course to get skills employers need.
            </p>
            @Html.ActionLink("Find a course to help you get a job","", new{searchTerm = "search", view = "jobcourses"}, new {@class= "govuk-button govuk-heading-m govuk-!-margin-bottom-1"})
        </div>
    </div>
</div>
<div class="govuk-grid-column-one-third">
    <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
        <div class="fac-feature-box__content">
            <img src="@cdnLocation/images/skills-toolkit-lifestyle.jpg" alt="improve your skills">
            <h2 class="govuk-heading-m govuk-!-margin-top-3">
                Improve your skills
            </h2>
            <p class="govuk-body">
                Learn new skills for free at your own pace.
            </p>
            <a href="https://nationalcareers.service.gov.uk/find-a-course/the-skills-toolkit" class="govuk-button govuk-heading-m govuk-!-margin-bottom-1">Go to the Skills Toolkit</a>
        </div>
    </div>
</div>
<div class="govuk-grid-column-one-third">
    <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
        <div class="fac-feature-box__content">
            <img src="@cdnLocation/images/help-with-choices-fac-homepage.jpg" alt="help with choices">
            <h2 class="govuk-heading-m govuk-!-margin-top-3">
                Help with choices
            </h2>
            <p class="govuk-body">
                Options and advice if you’re not sure of the right course for you.
            </p>
            @Html.ActionLink("Get help with choices","", new{searchTerm = "search", view = "help"}, new {@class= "govuk-button govuk-heading-m govuk-!-margin-bottom-1"})
        </div>
    </div>
</div>