@model BodyViewModel
@{
    var brandingAssetsCdn = Model.CourseSearchSettings.BrandingAssetsCdn;
    var cdnLocation = brandingAssetsCdn + "/nationalcareers_toolkit";
}

<section aria-label="Search">
    <partial name="_herobanner.cshtml" model="Model" />
</section>

<div class="govuk-width-container margin-fix">
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-body govuk-!-padding-top-0" id="main-content" role="main">
        <div class="govuk-width-container">
            <div class="govuk-main-wrapper">
                <div id="home-block" style="display:block">
                    <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full"></div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/courses-to-get-a-job.jpg" alt="Search for courses">
                                <h2 class="govuk-heading-m">
                                   Courses to get a job
                                </h2>
                                <p class="govuk-body">
                                    Find a course to get skills employers need.
                                </p>
                                    <a href="/find-a-course/find-courses-to-get-a-job" class="govuk-button ncs-button__primary govuk-heading-m govuk-!-margin-bottom-1">Courses to get a job</a>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/skills-toolkit-lifestyle.jpg" alt="Go to the Skills Toolkit">
                                <h2 class="govuk-heading-m">
                                   Improve your skills
                                </h2>
                                <p class="govuk-body">
                                    Learn new skills for free at your own pace.
                                </p>
                                    <a href="/find-a-course/the-skills-toolkit" class="govuk-button ncs-button__primary govuk-heading-m govuk-!-margin-bottom-1">Improve your skills</a>
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                        <div class="fac-feature-box fac-feature-box__image fac-feature-box__card">
                            <div class="fac-feature-box__content">
                                <img src="@cdnLocation/images/help-with-choices-fac-homepage.jpg" alt="Search our job profiles">
                                <h2 class="govuk-heading-m">
                                    Help with choices
                                </h2>
                                <p class="govuk-body">
                                    Find out what a job involves and if it's right for you.
                                </p>
                                    <a href="/find-a-course/help-with-choices" class="govuk-button ncs-button__primary govuk-heading-m govuk-!-margin-bottom-1"> Help with choices</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div>
    </main>
</div>
