@model Course

@if (Model.HasCampaignCode)
    {
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Cost description</th>
            <td class="govuk-table__cell">
                <span id="additonal-price">
                    This course is part of the Free Courses for Jobs offer and may be funded by the government for eligible adults. Check for eligibility at <a href="https://www.gov.uk/guidance/free-courses-for-jobs">Free courses for jobs - GOV.UK (www.gov.uk)</a>
                </span>
            </td>
        </tr>
    }
    else
    {
        @if (!string.IsNullOrEmpty(Model.Cost))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Cost</th>
                <td class="govuk-table__cell">
                    <span id="cost-value">£@Model.Cost.ToDecimalString("N2")</span>
                </td>
            </tr>
        }
        @if (!string.IsNullOrEmpty(Model.CostDescription))
        {
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Cost description</th>
                <td class="govuk-table__cell"><span id="additonal-price">@Html.Raw(Model.CostDescription)</span></td>
            </tr>
        }
    }