@model DetailsViewModel

    <div id="online-details-block">
        <h2 class="govuk-heading-m" id="courseDetails">Course details</h2>
        <table class="govuk-table">
            <caption class="govuk-visually-hidden">Table with course details</caption>
            <tbody class="govuk-table__body">
            <partial name="CourseQualificationDetails" model="Model" />
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Course type</th>
                    <td class="govuk-table__cell"><span id="attendance-mode">@Html.Raw(Model.CourseDetails.AttendanceMode)</span></td>
                </tr>
                @if (Model.CourseDetails.StartDate != null)
                {
                    <tr>
                        <th class="govuk-table__header" scope="row">Course start date</th>
                        <td class="govuk-table__cell">

                            <span id="start-date">@Model.CourseDetails.StartDate.Value.ToFormattedString()</span>

                        </td>
                    </tr>
                }
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="row">Cost</th>
                    <td class="govuk-table__cell">
                        <span id="cost-value">£@Model.CourseDetails.Cost.ToDecimalString("N2")</span>
                    </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.CourseDetails.CostDescription))
                {
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Cost description</th>
                        <td class="govuk-table__cell"><span id="additonal-price">@Html.Raw(Model.CourseDetails.CostDescription)</span></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.Description))
            {
                @await Html.PartialAsync("CourseAccordionItem", new AccordionViewModel
                {
                    Description = Model.CourseDetails.Description,
                    Title = "Who this course is for",
                    SubText = "Discover the learning experience and opportunities you can expect from this course.",
                    SectionName = "WhoThisCourseIsFor",
                })
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.EntryRequirements))
            {
                @await Html.PartialAsync("CourseAccordionItem", new AccordionViewModel
                {
                    Description = Model.CourseDetails.EntryRequirements,
                    Title = "Entry requirements",
                    SubText = "Find out what qualifications and skills you will need for this course.",
                    SectionName = "EntryRequirements",
                })
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.WhatYoullLearn))
            {
                @await Html.PartialAsync("CourseAccordionItem", new AccordionViewModel
                {
                    Description = Model.CourseDetails.WhatYoullLearn,
                    Title = "What you'll learn",
                    SubText = "View the key features of this course.",
                    SectionName = "WhatYouWillLearn",
                })
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.AssessmentMethod))
            {
                @await Html.PartialAsync("CourseAccordionItem", new AccordionViewModel
                {
                    Description = Model.CourseDetails.AssessmentMethod,
                    Title = "How you'll be assessed ",
                    SubText = "Find out more about exams, assignments and assessments.",
                    SectionName = "HowYouWillBeAssessed",
                })
            }
            @if (!string.IsNullOrWhiteSpace(Model.CourseDetails.NextSteps))
            {
                @await Html.PartialAsync("CourseAccordionItem", new AccordionViewModel
                {
                    Description = Model.CourseDetails.NextSteps,
                    Title = "What you can do next  ",
                    SubText = "Look at the further opportunities available.",
                    SectionName = "WhatYouCanDoNext",
                })
            }
        </div>
        <p><a href="/find-a-course/page?@Model.SearchTerm" class="govuk-back-link" id="back-to-results">Back to results</a></p>
</div>