@model HeadViewModel

    <div class="secondary-hero govuk-!-margin-bottom-0">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l govuk-!-padding-bottom-9">Certificate in IT User Skills (ITQ)</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="courseDetailsOnline" />
            @*<partial name="courseDetailsWork" />
            <partial name="courseDetailsWorkNational" />
            <partial name="courseDetailsClassroom" />*@
        </div>
        <div class="govuk-grid-column-one-third">
            <partial name="rightbar" />
        </div>
    </div>
