@model  DetailsViewModel

<div class="secondary-hero govuk-!-margin-bottom-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-padding-bottom-9">Certificate in IT User Skills (ITQ)</h1>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @{
            switch (Model.courseDetails.AttendanceMode)
            {
                case "Classroom based":
                    <partial name="courseDetailsClassroom" />
                    break;
                case "Work based":
                    <partial name="courseDetailsWork" />
                    break;
                case "Online based":
                    <partial name="courseDetailsOnline" />
                    break;
                case "Work based national":
                    <partial name="courseDetailsWorkNational" />
                    break;
                default:
                    break;
            }
        }
    </div>
    <div class="govuk-grid-column-one-third">
        <partial name="rightbar" />
    </div>
</div>
